@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>

@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";

}
@{int sayac = 0; }

<br />
<table class=" table table-striped">
    <tr>
        <th>SIRA NO</th>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>
    @foreach (var x in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman</td>
        </tr>
    }
</table>


